*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}



.contenedorLogo{
    
    .logo{/*icono logo header*/
        width: 100px;
        height: 100px;
        border-radius: 160px;
        }
    
    }

    a, .titulo-header{
        color: rgb(70, 70, 180);
        text-decoration: none;
        
    }
    ul, li, .link-navheader{
        
        color: bisque;
        
    
    }


    
.navegacion{    
    display: inline-block; /*para que se ubique a lado del contenedor logo*/
    width: 58%;
    text-align: right;
    .listNav{/*ul*/
        list-style: none;
        text-align: right;

        .listaItem{/*li*/
            display: inline-block;

            .linkNav{/*a*/
        
                display: inline-block;
                text-decoration: none;
                color: aliceblue;
                font-size: 1.5rem;
                margin-right: 15px;
                margin-bottom: 15px;
                border: 1px solid gray;
            }
        }

    }
  }    
    



.main{
    background-color: #035892 ;
    color: aliceblue;
    height: 400px;

    .titulo-main{
        text-align: center;
    }
    .video-main{
        text-align: center;
    }
    
    
}


.footer{
    display:inline-flex;
    justify-content:space-between;
    background-color: #023558 ;
    color: aliceblue;
    width: 100%;
    height: 400px;
    .icon-footer{
       
        display: inline-block;
        text-align: right;
    }
    


    .img-footer{
        width:30px;
        height:30px;
        border-radius:150px;
        
    }
    .div-mapa {
        display: inline-flex;
    }

    .mapa{
        width: 250px;
        height: 250px;
    }
    
}


